body {
    padding: 0px;
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #242424;
}

p {
    margin: 0;
    padding: 0;
}

#info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    color: #7fa2ac;
    background-color: #32302f;
    /* background-color: red; */
}

#infotext {
    margin: 0 auto;
    margin-bottom: 10px;
    font-size: 1.2em;
    font-weight: bold;
    /* color: white; */
    /* background-color: rgba(255, 255, 255, 0.16); */
}

#infoButton {
    margin: 0 auto;
    padding-top: 10px;
    font-size: 1.2em;
    font-weight: bold;
    color: #ebdbb2;
    /* background-color: rgba(255, 255, 255, 0.16); */
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#chatContainer {
    padding-bottom: 0;
    margin-bottom: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: calc(100vh - 70px); /* Adjust for the height of the chatbar and disclaimer */
    position: relative;
    box-sizing: border-box;
    /* padding: 0 20px 70px; */ /* Add padding at the bottom */
    background-color: #242424;
}

#chatMessages {
    box-sizing: border-box;
    width: 100%; /* Span the full width */
    padding-bottom: 120px;
    margin: 0 auto;
    /* padding: 20px; */
    overflow-y: auto;
    flex-grow: 1;
    background-color: #242424;
}

#chatbarBackground {
    position: fixed;
    /* bottom: 0; */
    left: 0;
    width: 100%;
    background-color: #242424;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #121212 100%);
    /* padding: 10px 0; */
    padding-bottom: 60px;
    box-sizing: border-box;
}

#inputContainer {
    display: flex;
    justify-content: space-between;
    /* padding: 0 20px; */
    max-width: 700px;
    border-radius: 4px;
    margin: 0 auto;
    box-sizing: border-box;
    color: #242424;
    background-color: #ebdbb2;
    font-weight: bold;
}

#userInput {
    flex-grow: 1;
    padding: 10px;
    border: none;
    border-radius: 4px;
    color: #242424;
    background-color: #ebdbb2;
    outline: none; /* Add this line */
    font-weight: bold;
}

#sendButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#disclaimer {
    color: #ebdbb2;
    width: 100%;
    text-align: center;
    padding: 5px;
    margin: 0 auto;
}

.message {
    /* margin-bottom: 10px; */
    /* word-wrap: break-word; */
    padding: 0;
    margin: 0 auto;
    background-color: #242424;
}

.message-wrapper {
    /* padding: 8px; */
    /* border-radius: 4px; */
    padding: 10px;
    margin: 0 auto;
    background-color: #ebdbb2;
    margin-bottom: 1px;
}

.user-message {
    padding: 10px;
    padding-bottom: 20px;
    margin: 0 auto;
    color: #ebdbb2;
    background-color: #242424;
}

.assistant-message {
    padding: 10px;
    padding-bottom: 20px;
    margin: 0 auto;
    color: #ebdbb2;
    background-color: #32302f;
}

.message-text {
    padding: 10px;
    margin: 0 auto;
    max-width: 600px;
    /* margin: 0; */
    /* font-size: 0.9em; */
    /* line-height: 1.4em; */
    color: #ebdbb2;
    /* border: 1px solid #ff0000; */
    /* background-color: #ffbb00; */
}

.code-block {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    color: #242424;
    background-color: #ebdbb2;
    margin: 4px 0;
}